# Node modules
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

vite.config.js


# Vite & Webpack cache
.vite/
.cache/
.next/
out/
build/

# Ignore the dist folder
dist/

# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env
.env.local

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build files
build/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db