@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutSlide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.frame {
  background-color: #00cccc;
  color: black;
  max-width: 25vw;
  min-width: 350px;
  width: 350px;
  min-height: 15vh;
  border: 2px solid white;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInSlide 1s ease-out forwards;
  position: fixed;
  top: 8%;
  left: 70%;
  z-index: 1000;
}

.hide {
  animation: fadeOutSlide 0.5s ease-out forwards;
}

.title {
  margin: 2px;
  padding: 8px 20px;
  color: #f9f9f9;
  text-align: left;
  font-size: x-large;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1px;
  padding: 8px 20px;
  color: #f9f9f9;
}

.exit {
  display: flex;
  justify-content: flex-end;
}

.exitbutton {
  padding: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel::before,
.cancel::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
}

.cancel::before {
  transform: rotate(45deg);
}

.cancel::after {
  transform: rotate(-45deg);
}
